body {
    background-size: 70%;
    background-image: url('img/rom1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    background-color: black;
}

.letter_link {
  position: absolute;
  background-color: transparent;
  width: 105px;
  height: 50px;
  top: 72%;   
  left: 47%;  
  cursor: pointer;
  border-radius: 3px;
}
.letter_link:hover{
    box-shadow: 0px 0px 100px  gold;
    transition: 0.2s ease-in;
}

.room1_door {
    position: relative;
    background-image: url(img/pixil-frame-0.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 48%;
    top: 90%;
}
.room1_door:hover{
    box-shadow: 0px 0px 100px  gold;
    transition: 0.2s ease-in;
}